{%extends "base.html"%}
{%load crispy_forms_tags%}

{% block title %}Log In{% endblock title %}

{% block content %}
    <h2  style="text-align: center;">Log In</h2>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <br>
        <div style="text-align: center;">
            <button class= "btn btn-success ml-2 btn btn-info btn-lg btn-block" type="submit">Log In</button>
        </div>
        <br>
        <br>
        <div style="text-align: center;">
            <p><a href="{% url 'password_reset' %}"class= "btn btn-primary text-dark">Forgotten your password?</a></p>
        </div>
    </form>
{% endblock content %}