{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Password Change{% endblock title %}

{% block content %}
    <h2  style="text-align: center;" >Password Change</h2>
    <p  style="text-align: center;">Please enter your password, for security's sake, 
    and then enter your new password twice so we can verify you typed it in correctly.</p>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy}}
        <div style="text-align: center;">
            <input class="btn btn-info ml-2 btn btn-info btn-lg btn-block" type="submit" value="change my password">
        </div>
    </form>
{% endblock content %}